<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${result.get(0).review_id}"> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header th:insert="blocks/header :: header"/>

<div class="container mt-5">

    <h3 th:if="${result.empty}">
        <td colspan="2"> No Reviews Available </td>
    </h3>
    <div th:each="review : ${result}">
        <h3 th:text="${review.title}"/>
        <p th:text="${review.text}"/>

        <form th:action="@{/reviews/} +  ${review.review_id} + @{/delete}" method="post">
        <button class="mt-2 btn btn-danger" type="submit">Удалить</button>

        </form><br>
        <a class="mt-2 btn btn-warning" th:href="@{'/reviews/' + ${review.getReview_id} + '/update'}">Редактировать</a><br>
    </div>



    <footer th:insert="blocks/footer :: footer"/>
</body>
</html>